  <!-- Subscribe section -->
  <div class="w3-container w3-black w3-padding-32">
    <h1>Subscribe</h1>
    <p>To get special offers and our newsletter:</p>
  <form action="" method="post">
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%" name="email2"></p>
    <button type="submit" name="submit2" value="Submit" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
  </form>
  </div>
  
  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>Contact</h4>
        <p>Questions? Go ahead.</p>
        <form action="" method="post">
          <p><input class="w3-input w3-border" type="text" placeholder="First Name" name="first_name" required="required"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Surname" name="last_name" required="required"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="email" required="required"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Phone Number" name="phone"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="subject" required="required"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Message" name="message" required="required"></p>
          <button type="submit" name="submit" value="Submit" class="w3-button w3-block w3-black">Send</button>
        </form>
      </div>
      <div class="w3-col s4">
        <h4>About</h4>
        <p><a href="about.html">About us</a></p>
        <p><a href="#">We're hiring</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Find store</a></p>
        <p><a href="#">Shipment</a></p>
        <p><a href="#">Payment</a></p>
        <p><a href="#">Gift card</a></p>
        <p><a href="#">Return</a></p>
        <p><a href="#">Help</a></p>
      </div>
      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i>The Game Company</p>
        <p><i class="fa fa-fw fa-phone"></i>A Number Here</p>
        <p><i class="fa fa-fw fa-envelope"></i>thegamecompanyofficial@gmail.com</p>
        <h4>We accept</h4>
        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
        <p><i class="fa fa-fw fa-shopping-cart"></i> PayPal</p>
        <br>
        <a href="https://www.facebook.com/The-Game-Company-205191707100559/"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></i></a>
        <a href="https://www.instagram.com"><i class="fa fa-instagram w3-hover-opacity w3-large"></i></a>
        <a href="https://www.snapchat.com"><i class="fa fa-snapchat w3-hover-opacity w3-large"></i></a>
        <a href="https://www.pinterest.com"><i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i></a>
        <a href="https://twitter.com/TheGameCompany2"><i class="fa fa-twitter w3-hover-opacity w3-large"></i></a>
        <a href="https://www.linkedin.com"><i class="fa fa-linkedin w3-hover-opacity w3-large"></i></a>
      </div>
    </div>
  </footer>
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://synapticwebdesign.wordpress.com/" title="W3.CSS" target="_blank" class="w3-hover-opacity">Synaptic Web Design</a></div>
  <!-- End page content -->
</div>
<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>